<div class="container">
  <h2>FOOTER</h2>
  <footer>
    <ul class="row">
      <li class="col-md-3">FOOTER 1</li>
      <li class="col-md-3">FOOTER 1</li>
      <li class="col-md-3">FOOTER 1</li>
      <li class="col-md-3">FOOTER 1</li>
    </ul>
    <ul class="row">
      <li class="col-md-3">FOOTER 1</li>
      <li class="col-md-3">FOOTER 1</li>
      <li class="col-md-3">FOOTER 1</li>
      <li class="col-md-3">FOOTER 1</li>
    </ul>
    <ul class="row">
      <li class="col-md-3">FOOTER 1</li>
      <li class="col-md-3">FOOTER 1</li>
      <li class="col-md-3">FOOTER 1</li>
      <li class="col-md-3">FOOTER 1</li>
    </ul>
    <ul class="row">
      <li class="col-md-3">FOOTER 1</li>
      <li class="col-md-3">FOOTER 1</li>
      <li class="col-md-3">FOOTER 1</li>
      <li class="col-md-3">FOOTER 1</li>
    </ul>
  </footer>
</div>